
<script type="text/javascript">
  window.images = {
    botticelli: "<%= image_url('Botticellis-Inferno.jpg') %>",
    logo: "<%= image_url('rings_of_hell.jpg') %>",
    heroBanner: "<%= image_url('gustave_dore.jpg') %>",
    searchIcon: "<%= image_url('flame_search.png') %>"
  }
</script>
<% if logged_in? %>
<script type="text/javascript" id="current-user">
  window.currentUser = <%= render("api/users/user.json.jbuilder",
    user: current_user).html_safe %>
</script>
<% end %>

<div id="root">

</div>
