
<script type="text/javascript">
// http://skybots.net/scrap/InvertRGB // <-Credits for splash image
  window.images = {
    botticelli: "<%= image_url('Botticellis-Inferno.jpg') %>",
    logo: "<%= image_url('rings_of_hell.jpg') %>",
    heroBanner: "<%= image_url('gustave_dore.jpg') %>",
    fadedWriting: "<%= image_url('fadedWriting.png') %>",
    searchIcon: "<%= image_url('flame_search.png') %>",
    upArrow: "<%= image_url('up-arrow.png') %>",
    downArrow: "<%= image_url('down-arrow.png') %>"
  }
</script>
<% if logged_in? %>
<script type="text/javascript" id="current-user">
  window.currentUser = <%= render("api/users/user.json.jbuilder",
    user: current_user).html_safe %>
</script>
<% end %>

<div id="root"></div>
