<!DOCTYPE html>
<html>
  <head>
    <title>StackInferno</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%#= favicon image_url('rings_of-hell.jpeg') %>
    <%#= favicon_link_tag asset_path('rings_of-hell.jpeg') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
